$primary: #3292a6;
$primary-overlay: rgba(50,146,166,0.8);

body {
	margin-top: 105px;
}

h2 {
	font-size:2.5rem;
}

.btn-primary {
	background-color: $primary;
	border-color: $primary;
}

.text-primary { 
	color: $primary !important;
}

.btn-primary:hover {
    background-color: #297889;
    border-color: #26707f;
}
.bg-blue {
	background-color: $primary;
}

.outline-blue {
	border: 1px solid $primary;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #7fc9d8;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(50, 146, 166, 0.25);
}

.navbar {
	box-shadow: 2px 5px 5px $primary;
	opacity: 0.9;
	background: #fff;

	.nav-item {
		font-size: 1.4rem;
		padding-right: 1.4rem;
	}
}

#home {
	position: relative;
	background: url(../img/mountains.jpg);
    min-height: 600px;

    .primary-overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-overlay;
	}

	button {
		font-size: 1.25rem;
	}
}

#newsletter {
	.form-group, .btn-group-large{
		width: 100%;
	}

	.form-group.mx-lg-4 {
		margin-left: 20px;
		margin-right:20px;

	}
	.form-group {
		margin-bottom: 0;
	}
}

.info-header {
    width: 50%;
    margin: auto;
    border-bottom: 1px #ddd solid;
}

#meet {
	img {
		margin-top: -50px;
	}

	a {
		color: #fff;
	}

	.card:hover {
		background-color: $primary;
		color: #fff;
	}
}

#contact {
	textarea {
		height: auto;
	}
}

@media (max-width: 768px) {
	.mb-resp {
	    margin-bottom: 1rem;
	}

	#home h1 {
    	font-size: 4rem;
	}

	#home {
	    min-height: 500px;
	}

	.info-header {
		width: 100%;
	}

	#meet .card.mb-resp {
		margin-bottom: 2.5rem;
	}
}




